<template>
    <form id="forget-password-form" class="rounded  p-3" submit.delegate="sendLink()">
        <div class="form-group">
            <label for="user-email">Email:
            </label>
            <input type="text" class="form-control" id="user-email" value.bind="forgetEmail">
        </div>
        <div show.bind="successEmailSentMessage" class="alert alert-success alert-dismissible"
             id="success-email-sent-message">
            <strong>Success!</strong> Reset link has been successfully sent.
        </div>
        <div show.bind="errorEmailSentMessage" class="alert alert-danger alert-dismissible"
             id="error-account-not-registered">
            <strong>Error!</strong> No account registered against this email.
        </div>
        <input type="submit" id="send-link" class="btn index-button "
               value="Send Link">
    </form>
</template>
